:root {
    --primary-pink: #FFF0F5; /* Light Pink */
    --secondary-pink: #FFE4E1; /* Very Light Pink */
    --accent-pink: #FFB6C1; /* Light Pinkish */
    --deep-pink: #FF69B4; /* Deep Pink */
    --text-primary: #2D3436; /* Dark Gray */
    --text-secondary: #636E72; /* Light Gray */
    --background: #FFFFFF; /* White */
    --shadow: rgba(0, 0, 0, 0.1); /* Light Shadow */
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    width: 100%;
    font-family: 'Segoe UI', sans-serif;
    color: var(--text-primary);
    line-height: 1.6;
    background: var(--background);
  }
  
  .container {
    max-width: 100%;
    margin: 0 auto;
    padding: 0 40px;
  }
  
  .membership-container {
    padding: 20px;
    background: var(--secondary-pink); /* Set the background color to light pink */
  }
  
  .membership-title {
    font-size: 2em;
    margin-bottom: 20px;
    text-align: center;
    color: var(--deep-pink);
  }
  
  .membership-description {
    font-size: 1.2em;
    margin-bottom: 20px;
    text-align: center;
    color: var(--text-secondary);
  }
  
  .membership-plans {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
    flex-wrap: wrap;
  }
  
  .membership-plan {
    background: white;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 10px;
    width: 30%;
    text-align: center;
    box-shadow: 0 10px 20px var(--shadow);
    transition: transform 0.3s;
    margin: 10px;
  }
  
  .membership-plan:hover {
    transform: scale(1.05);
  }
  
  .membership-plan h2 {
    font-size: 1.5em;
    color: var(--deep-pink);
    margin-bottom: 10px;
  }
  
  .membership-plan p {
    font-size: 1.1em;
    color: var(--text-primary);
    margin-bottom: 10px;
  }
  
  .membership-plan ul {
    list-style: none;
    padding: 0;
    color: var(--text-secondary);
  }
  
  .membership-plan ul li {
    margin-bottom: 8px;
  }
  
  .payment-method-title {
    font-size: 1.5em;
    margin-top: 30px;
    text-align: center;
    color: var(--deep-pink);
  }
  
  .payment-method-description {
    font-size: 1em;
    margin-bottom: 20px;
    text-align: center;
    color: var(--text-secondary);
  }
  
  .payment-methods {
    text-align: center;
    margin-bottom: 20px;
    color: var(--text-secondary);
  }
  
  .payment-methods p {
    margin-bottom: 10px;
  }
  
  .qr-code {
    width: 150px;
    height: 150px;
    display: block;
    margin: 10px auto;
  }
  
  @media (max-width: 768px) {
    .membership-plans {
      flex-direction: column;
      align-items: center;
    }
  
    .membership-plan {
      width: 80%;
    }
  }
  